env/
*.db*
**/resume/
*.log
*.html
__pycache__/
.DS_store
geckodriver*
profiles
sql.py
config.py
*.hdf5
*.csv
*.parquet
.env
upload_file.py
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
test.ipynb